<!-- 载入静态文件 -->
<!-- static模板标签会生成静态文件的绝对路径。 -->
{% load static %}
<!-- <link> 标签定义文档与外部资源的关系。 -->
<!-- <link> 标签最常见的用途是链接样式表。 -->
<!-- href静态文件的绝对路径 -->
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ur>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ur>
{% else %}
    <p>No polls aur available.</p>
{% endif %}

